<!DOCTYPE html>
<html lang="en">
<head>
    
<body>
    <h2>Please find the form here </h2>
    <div>
    <form action="#" method="POST">
        <label for="product_id">Product ID</label>
        <input type="text" id="product_id" name="productid"><br>
        <br>
        <label for="product_name">Product Name</label>
        <input type="text" id="product_name" name="product_name"><br>
        <br>
        <label for="description">Description</label>
        <input type="text" id=description name="desc"><br>

        <input type="submit" value="submit" name="Submit">
    </form>
</div>
<h1>{{product_id}}</h1>

</body>
</html> 